{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "src/modules/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
